<p id="notice"><%= notice %></p>

<p>
  <strong>Publicacion:</strong>
  <%= @evaluacion.publicacion_id %>
</p>

<p>
  <strong>Objetivo:</strong>
  <%= @evaluacion.objetivo %>
</p>

<p>
  <strong>Resultado:</strong>
  <%= @evaluacion.resultado %>
</p>

<p>
  <strong>Metodologia:</strong>
  <%= @evaluacion.metodologia %>
</p>

<p>
  <strong>Conclusion:</strong>
  <%= @evaluacion.conclusion %>
</p>

<%= link_to 'Edit', edit_evaluacion_path(@evaluacion) %> |
<%= link_to 'Back', evaluaciones_path %>
