<%= form_with(model: concepto, local: true) do |form| %>
  <% if concepto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(concepto.errors.count, "error") %> prohibited this concepto from being saved:</h2>

      <ul>
      <% concepto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :concepto %>
    <%= form.text_field :concepto %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
