<!-- DETALLE + PERFILES -->
<div class='row'>
	<div class='col-md-4'>
		<%= render partial: '0p/general/titulo', locals: {c: nil, a: nil, titulo: 'Detalle', size: '5'} %>
		<%= render partial: '0p/show/detalle', locals: {c: controller_name, o: @objeto} %>
	</div>
	<div class='col-md-4'>
		<%= render partial: '0p/general/titulo', locals: {c: nil, a: nil, titulo: 'Integrantes', size: '5'} %>
		<%= render partial: '0p/tabla/tabla', locals: {c: alias_tabla('perfiles'), a: 'index'} unless @coleccion['perfiles'].empty? %>
	</div>
	<div class='col-md-4'>
		<%= render partial: '0p/general/titulo', locals: {c: nil, a: nil, titulo: 'Versiones', size: '5'} %>
		<%= render partial: '0p/tabla/tabla', locals: {c: alias_tabla('versiones'), a: 'index'} unless @coleccion['versiones'].empty? %>
	</div>
</div>
</br>
<div class='row'>
	<div class='col-md-6'>
		<%= render partial: '0p/general/titulo', locals: {c: nil, a: nil, titulo: 'Temas', size: '5'} %>
		<% if @activo.temas.empty? %>
			<%= form_for :tema_base, url: "/proyectos/nuevo_tema_proyecto?proyecto_id=#{@objeto.id}" do |form| %>
				<div class='form-inline'>
					<%= form.select :tema_id, @activo.temas.collect { |p| [p.tema, p.id] }, include_blank: false, prompt: "Seleccione Tema" %>
					<%= form.submit '+ Tema'  %>
				</div>
			<% end  %>
		<% end  %>
		<%= render partial: '0p/tabla/tabla', locals: {c: alias_tabla('temas'), a: 'index'} unless @coleccion['temas'].empty? %>
	</div>
	<div class='col-md-6'>
		<%= render partial: '0p/general/titulo', locals: {c: nil, a: nil, titulo: 'Etapas', size: '5'} %>
		<%= render partial: '0p/tabla/tabla', locals: {c: alias_tabla('etapas'), a: 'index'} unless @coleccion['etapas'].empty? %>
	</div>
</div>
</br>