<%= render partial: '0p/general/o_titulo', locals: {o: @objeto, a: action_name, size: '5'} %>

<%= render partial: '0p/tabs/tabs', locals: {tabs: c_tabs('clasificaciones'), tag: 'tab', active: @tab} %>

<% @coleccion['clasificaciones'].each do |clasificacion| %>
	<div class='row'>
		<div class='col-md-1'>
		</div>
		<div class='col-md-10'>
			<table class="table table-striped table-sm  thead-dark">
				<tbody>
					<tr>
						<td><%= clasificacion.clasificacion %></td>
						<td><%= render partial: '0p/tabla/btns', locals: {a: 'index', objeto: clasificacion} %></td>
					</tr>
				</tbody>
			</table>

			<% if clasificacion.texto.present? %>
				<p class='text-info'><small><i><%= "\"#{clasificacion.texto.texto}\""  %></i></small></p>
				<% clasificacion.texto.publicaciones.each do |publicacion| %>
					<p><small>| <%= link_to(publicacion.doc_type, publicacion) %> | <%= link_to "https://doi.org/#{publicacion.doi}", "https://doi.org/#{publicacion.doi}", target: :blank unless publicacion.doi.blank? %> |</small></p>
					<p><small><%= sanitize publicacion.m_quote %></small></p>
				<% end %>
			<% else %>
				<h6 class='text-warning'>Texto no encontrado</h3>
			<% end %>
		</div>
		<div class='col-md-1'>
		</div>
	</div>
<% end %>