<p id="notice"><%= notice %></p>

<p>
  <strong>Repositorio:</strong>
  <%= @origen.repositorio_id %>
</p>

<p>
  <strong>Publicacion:</strong>
  <%= @origen.publicacion_id %>
</p>

<%= link_to 'Edit', edit_origen_path(@origen) %> |
<%= link_to 'Back', origenes_path %>
