<%= form_with(model: revista, local: true) do |form| %>
  <% if revista.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(revista.errors.count, "error") %> prohibited this revista from being saved:</h2>

      <ul>
      <% revista.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :revista %>
    <%= form.text_field :revista %>
  </div>

  <div class="field">
    <%= form.label :idioma_id %>
    <%= form.number_field :idioma_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
