<%= form_with(model: campo, local: true) do |form| %>
  <% if campo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(campo.errors.count, "error") %> prohibited this campo from being saved:</h2>

      <ul>
      <% campo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :campo %>
    <%= form.text_field :campo %>
  </div>

  <div class="field">
    <%= form.label :orden %>
    <%= form.number_field :orden %>
  </div>

  <div class="field">
    <%= form.label :cursiva %>
    <%= form.check_box :cursiva %>
  </div>

  <div class="field">
    <%= form.label :negrita %>
    <%= form.check_box :negrita %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
