<p id="notice"><%= notice %></p>

<p>
  <strong>Orden:</strong>
  <%= @especificacion.orden %>
</p>

<p>
  <strong>Especificacion:</strong>
  <%= @especificacion.especificacion %>
</p>

<p>
  <strong>Detalle:</strong>
  <%= @especificacion.detalle %>
</p>

<p>
  <strong>Tabla:</strong>
  <%= @especificacion.tabla_id %>
</p>

<p>
  <strong>Etapa:</strong>
  <%= @especificacion.etapa_id %>
</p>

<%= link_to 'Edit', edit_especificacion_path(@especificacion) %> |
<%= link_to 'Back', especificaciones_path %>
