<%= form_with(model: asociacion, local: true) do |form| %>
  <% if asociacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(asociacion.errors.count, "error") %> prohibited this asociacion from being saved:</h2>

      <ul>
      <% asociacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :publicacion_id %>
    <%= form.number_field :publicacion_id %>
  </div>

  <div class="field">
    <%= form.label :proyecto_id %>
    <%= form.number_field :proyecto_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
