<p id="notice"><%= notice %></p>

<h1>Asociaciones</h1>

<table>
  <thead>
    <tr>
      <th>Publicacion</th>
      <th>Proyecto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asociaciones.each do |asociacion| %>
      <tr>
        <td><%= asociacion.publicacion_id %></td>
        <td><%= asociacion.proyecto_id %></td>
        <td><%= link_to 'Show', asociacion %></td>
        <td><%= link_to 'Edit', edit_asociacion_path(asociacion) %></td>
        <td><%= link_to 'Destroy', asociacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asociacion', new_asociacion_path %>
