<p id="notice"><%= notice %></p>

<p>
  <strong>Publicacion:</strong>
  <%= @asociacion.publicacion_id %>
</p>

<p>
  <strong>Proyecto:</strong>
  <%= @asociacion.proyecto_id %>
</p>

<%= link_to 'Edit', edit_asociacion_path(@asociacion) %> |
<%= link_to 'Back', asociaciones_path %>
