<p id="notice"><%= notice %></p>

<p>
  <strong>Departamento:</strong>
  <%= @departamento.departamento %>
</p>

<p>
  <strong>Institucion:</strong>
  <%= @departamento.institucion_id %>
</p>

<%= link_to 'Edit', edit_departamento_path(@departamento) %> |
<%= link_to 'Back', departamentos_path %>
