<%= form_with(model: columna, local: true) do |form| %>
  <% if columna.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(columna.errors.count, "error") %> prohibited this columna from being saved:</h2>

      <ul>
      <% columna.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :orden %>
    <%= form.number_field :orden %>
  </div>

  <div class="field">
    <%= form.label :linea_id %>
    <%= form.number_field :linea_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
