<table  class="table table-striped">
	<tbody>
		
		<% c.classify.constantize::SHOW_FIELDS.each do |field| %>
			<tr>
				<% case field[1] %>
				<% when 'normal' %>
					<td><small> <%= "#{field[0]}" %> </small></td>
					<td><small> <%=  "#{o[field[0]]}" %> </small></td>
				<% when 'diahora' %>
					<td><small> <%= "#{field[0]}" %> </small></td>
					<td><small> <%=  "#{l(o[field[0]])}" %> </small></td>
				<% when 'fnormal' %>
					<td><small> <%= "#{field[0]}" %> </small></td>
					<td><small> <%= "#{ f_tabla(o).send(field[0]) }" %> </small></td>
				<% when 'fdiahora' %>
					<td><small> <%= "#{field[0]}" %> </small></td>
					<td><small> <%= "#{ l(f_tabla(o).send(field[0])) }" %> </small></td>
				<% end %>
			</tr>
		<% end %>

	</tbody>
</table>
