<%= form_with(model: tipo_publicacion, local: true) do |form| %>
  <% if tipo_publicacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tipo_publicacion.errors.count, "error") %> prohibited this tipo_publicacion from being saved:</h2>

      <ul>
      <% tipo_publicacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tipo_publicacion %>
    <%= form.text_field :tipo_publicacion %>
  </div>

  <div class="field">
    <%= form.label :redireccion %>
    <%= form.text_field :redireccion %>
  </div>

  <div class="field">
    <%= form.label :ejemplo %>
    <%= form.text_area :ejemplo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
