<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @contacto.tipo %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @contacto.estado %>
</p>

<p>
  <strong>Contacto:</strong>
  <%= @contacto.contacto %>
</p>

<p>
  <strong>Perfil:</strong>
  <%= @contacto.perfil_id %>
</p>

<p>
  <strong>Padre:</strong>
  <%= @contacto.padre_id %>
</p>

<%= link_to 'Edit', edit_contacto_path(@contacto) %> |
<%= link_to 'Back', contactos_path %>
