<% unless params[:despliegue] or action_name != 'new' %>
	<div class='row'>
		<div class='col-md-6'>
			<small><%= form.label 'Tipo' %></small></br>
			<%= form.select :doc_type, TipoPublicacion.all.order(:tipo_publicacion).map {|tp| tp.tipo_publicacion}, prompt: "Tipo de documento?" %></br>

			<small><%= form.label 'Author (process)' %></small></br>
			<%= form.text_field(:d_author, size: 74, class: 'form-control-sm', placeholder: 'Author (process)') %>

			<small><%= form.label 'Journal (process)' %></small></br>
			<%= form.text_field(:d_journal, size: 74, class: 'form-control-sm', placeholder: 'Journal (process)') %>

			<small><%= form.label 'DOI (process)' %></small></br>
			<%= form.text_field(:d_doi, size: 74, class: 'form-control-sm', placeholder: 'DOI (process)') %>
		</div>
	</div>
<% else %>

	<div class='row'>
		<div class='col-md-6'>
			<small class='text-info'><%= form.label 'Tipo' %></small></br>
			<% if action_name == 'new' %>
				<%= form.text_field(:doc_type, size: 74, class: 'form-control-plaintext', readonly: true) %>
			<% else %>
				<%= form.select :doc_type, Publicacion::DOC_TYPES, prompt: "Tipo de documento?" %></br>
			<% end %>

			<small class='text-info'><%= form.label 'Author (process)' %></small></br>
			<% if action_name == 'new' %>
				<%= form.text_field(:d_author, size: 74, class: 'form-control-plaintext', readonly: true) %>
			<% else %>
				<%= form.text_field(:d_author, size: 74, class: 'form-control-sm', placeholder: 'Author (process)') %>
			<% end %>

			<small class='text-info'><%= form.label 'Journal (process)' %></small></br>
			<% if action_name == 'new' %>
				<%= form.text_field(:d_journal, size: 74, class: 'form-control-plaintext', readonly: true) %>
			<% else %>
				<%= form.text_field(:d_journal, size: 74, class: 'form-control-sm', placeholder: 'Journal (process)') %>
			<% end %>

			<small class='text-info'><%= form.label 'DOI (process)' %></small></br>
			<% if action_name == 'new' %>
				<%= form.text_field(:d_doi, size: 74, class: 'form-control-plaintext', readonly: true) %>
			<% else %>
				<%= form.text_field(:d_doi, size: 74, class: 'form-control-sm', placeholder: 'DOI (process)') %>
			<% end %>

			<!-- INGRESO -->
			<div class='inline-form'>
				<small class='text-info'><%= form.label 'Author | Year' %></small></br>
				<%= form.text_field(:author, size: 64, class: 'form-control-sm') %>
				<%= form.text_field(:year, size: 5, class: 'form-control-sm') %>
			</div>

			<small class='text-info'><%= form.label 'Title' %></small></br>
			<%= form.text_field(:title, size: 74, class: 'form-control-sm') %>

			<small class='text-info'><%= form.label 'Journal' %></small></br>
			<%= form.text_field(:journal, size: 74, class: 'form-control-sm') %>

		</div>
		<div class='col-md-6'>
			<!-- INGRESO -->
			<div class='inline-form'>
				<small class='text-info'><%= form.label 'Editor | Book Title' %></small></br>
				<%= form.text_field(:editor, size: 34, class: 'form-control-sm') %>
				<%= form.text_field(:booktitle, size: 35, class: 'form-control-sm') %>
			</div>

			<div class='inline-form'>
				<small class='text-info'><%= form.label 'Publisher | Ciudad, País' %></small></br>
				<%= form.text_field(:publisher, size: 34, class: 'form-control-sm') %>
				<%= form.text_field(:ciudad_pais, size: 35, class: 'form-control-sm') %>
			</div>

			<small class='text-info'><%= form.label 'Academic degree' %></small></br>
			<%= form.text_field(:academic_degree, size: 74, class: 'form-control-sm') %>

			<div class='inline-form'>
				<small class='text-info'><%= form.label 'Volume | Pages | DOI' %></small></br>
				<%= form.text_field(:volume, size: 9, class: 'form-control-sm') %>
				<%= form.text_field(:pages, size: 10, class: 'form-control-sm') %>
				<%= form.text_field(:doi, size: 45, class: 'form-control-sm') %>
			</div>

			<small class='text-info'><%= form.label :abstract %></small></br>
		  	<%= form.text_area :abstract, size: '66x6' %></br>
		</div>
	</div>

<% end %>

<%= form.hidden_field :estado %>
<%= form.hidden_field :origen %>
<%= form.hidden_field :despliegue %>

