<%= form_with(model: publicacion, local: true) do |form| %>
  <% if publicacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(publicacion.errors.count, "error") %> prohibited this publicacion from being saved:</h2>

      <ul>
      <% publicacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo %>
  </div>

  <div class="field">
    <%= form.label :annio %>
    <%= form.number_field :annio %>
  </div>

  <div class="field">
    <%= form.label :paginas %>
    <%= form.text_field :paginas %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link %>
  </div>

  <div class="field">
    <%= form.label :abstract %>
    <%= form.text_field :abstract %>
  </div>

  <div class="field">
    <%= form.label :registro_id %>
    <%= form.number_field :registro_id %>
  </div>

  <div class="field">
    <%= form.label :revista_id %>
    <%= form.number_field :revista_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
