<div class='row'>
	<% unless ['ingreso', 'papelera', 'duplicado'].include?(@objeto.estado) %>
		<div class='col-md-4'>

			<%= render partial: '0p/show/inline_form_modelo', locals: {modelo: 'Tema', size: 30} %>

		</div>
		<div class='col-md-8'>
			<%= render partial: '0p/general/titulo', locals: {c: controller_name, a: nil, titulo: '+ Texto', size: '5'} %>
			<% if @activo.temas.any? %>
				<%= form_for :texto_base, url: "/textos/nuevo?publicacion_id=#{@objeto.id}" do |form| %>
					<%= form.select :tema_id, @activo.temas.collect { |tm| [tm.tema, tm.id] }, include_blank: false, prompt: "Seleccione Tema" %>
					<%= form.select :clasificacion, Clasificacion::CLASIFICACION, include_blank: false, prompt: "Seleccione Clasificacion" %>
					<div class='form-inline'>
						<%= form.text_field(:texto, size: 80, class: 'form-control' ) %>
						<%= form.submit '+ Texto'  %>
					</div>
				<% end  %>
			<% end %>
			</br>
			<%= render partial: '0p/general/titulo', locals: {c: controller_name, a: nil, titulo: 'Textos asociados', size: '5'} %>
			<%= render partial: '0p/tabla/tabla', locals: {c: 'textos', a: 'index'} %>
			</br>

			<!-- METODOLOGIA AUN NO DEFINID--> 
			<%#= render partial: '0p/general/titulo', locals: {c: nil, a: nil, titulo: '+ Metodología', size: '5'} %>
			<%#= form_for :nueva_metodologia, url: "/metodologias/nuevo?publicacion_id=#{@objeto.id}" do |form| %>
				<!--div class='form-inline'-->
					<%#= form.text_field(:metodologia, size: 74, class: 'form-control' ) %>
					<%#= form.submit '+ Metodologia'  %>
				<!--/div-->
			<%# end  %>

		</div>
	<% end %>
</div>



