<div class='row'>
	<div class='col-md-5'>
		<%= render partial: '0p/general/titulo', locals: {c: nil, a: nil, titulo: 'Evaluación', size: '5'} %>
		<table class="table table-striped table-sm  thead-dark">
			<tbody>
				<% Publicacion::EVALUACION.keys.each do |item| %>
					<tr>
						<th><small><%= item %></small></th>
						<td>
						<small><%= get_evaluacion_publicacion(o, item) %>
						<% get_btns_evaluacion(o, item).each do |btn| %>
							<%= link_to btn, link: "/publicaciones/cambia_evaluacion?publicacion_id=#{o.id}&item=#{item}&evaluacion=#{btn}" %>
						<% end %>
						</small>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class='col-md-7'>
		<%= render partial: '0p/general/titulo', locals: {c: nil, a: nil, titulo: 'Textos de la publicación', size: '5'} %>
		<%= form_for :nuevo_tema, url: "/temas/nuevo?publicacion_id=#{@objeto.id}" do |form| %>
			<div class='inline'>
			<%= form.text_field(:tema, class: 'form-control' ) %>
			<%= form.submit '+ Tema'  %>
			</div>
		<% end  %>

		<% if @activo.temas.any? %>
			<%= form_for :texto_base, url: "/textos/nuevo?publicacion_id=#{@objeto.id}" do |form| %>
				<div class='row'>
					<div class = 'col-sm-3'>
						<%= form.select :tema_id, @activo.temas.collect { |p| [p.tema, p.id] }, include_blank: true %>
					</div>
					<div class = 'col-sm-7'>
					<%= form.text_field(:texto, class: 'form-control' ) %>
					</div>
					<div class = 'col-sm-2'>
					<%= form.submit '+ Texto'  %>
					</div>
				</div>
			<% end  %>
		<% end %>
	</div>
</div>

</br>

<%= form_for :nueva_metodologia, url: "/metodologias/nuevo?publicacion_id=#{@objeto.id}" do |form| %>
	<div class='row'>
		<div class = 'col-sm-3'>
		</div>
		<div class = 'col-sm-7'>
		<%= form.text_field(:metodologia, class: 'form-control' ) %>
		</div>
		<div class = 'col-sm-2'>
		<%= form.submit '+ Metodologia'  %>
		</div>
	</div>
<% end  %>
</br></br></br>

