<%= form_for :nuevo_tema, url: "/temas/nuevo?publicacion_id=#{@objeto.id}" do |form| %>
	<div class='row'>
		<div class = 'col-sm-3'>
		</div>
		<div class = 'col-sm-7'>
		<%= form.text_field(:tema, class: 'form-control' ) %>
		</div>
		<div class = 'col-sm-2'>
		<%= form.submit '+ Tema'  %>
		</div>
	</div>
<% end  %>

<%= form_for :texto_base, url: "/textos/nuevo?publicacion_id=#{@objeto.id}" do |form| %>
	<div class='row'>
		<div class = 'col-sm-3'>
			<%= form.select :tema_id, Tema.all.collect { |p| [p.tema, p.id] }, include_blank: true %>
		</div>
		<div class = 'col-sm-7'>
		<%= form.text_field(:texto, class: 'form-control' ) %>
		</div>
		<div class = 'col-sm-2'>
		<%= form.submit '+ Texto'  %>
		</div>
	</div>
<% end  %>
</br>

<%= form_for :nueva_metodologia, url: "/metodologias/nuevo?publicacion_id=#{@objeto.id}" do |form| %>
	<div class='row'>
		<div class = 'col-sm-3'>
		</div>
		<div class = 'col-sm-7'>
		<%= form.text_field(:metodologia, class: 'form-control' ) %>
		</div>
		<div class = 'col-sm-2'>
		<%= form.submit '+ Metodologia'  %>
		</div>
	</div>
<% end  %>

