<p id="notice"><%= notice %></p>

<p>
  <strong>Orden:</strong>
  <%= @linea.orden %>
</p>

<p>
  <strong>Tabla:</strong>
  <%= @linea.tabla_id %>
</p>

<p>
  <strong>Linea:</strong>
  <%= @linea.linea %>
</p>

<%= link_to 'Edit', edit_linea_path(@linea) %> |
<%= link_to 'Back', lineas_path %>
