<p id="notice"><%= notice %></p>

<h1>Etiquetas</h1>

<table>
  <thead>
    <tr>
      <th>Etiqueta</th>
      <th>Proyecto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @etiquetas.each do |etiqueta| %>
      <tr>
        <td><%= etiqueta.etiqueta %></td>
        <td><%= etiqueta.proyecto_id %></td>
        <td><%= link_to 'Show', etiqueta %></td>
        <td><%= link_to 'Edit', edit_etiqueta_path(etiqueta) %></td>
        <td><%= link_to 'Destroy', etiqueta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Etiqueta', new_etiqueta_path %>
