</br></br>
<%= form_for :e_params, url: "/textos/eliminar_tema?texto_id=#{@objeto.id}" do |e_form| %>
	<div class='row'>
		<div class = 'col-sm-6'>
			<%= e_form.select :e_tema_id, @objeto.temas.collect { |p| [p.tema, p.id] }, include_blank: true %>
		</div>
		<div class = 'col-sm-6'>
			<%= e_form.submit 'Sacar del Tema'  %>
		</div>
	</div>
<% end  %>
</br>

<%= form_for :a_params, url: "/textos/agregar_tema?texto_id=#{@objeto.id}" do |a_form| %>
	<div class='row'>
		<div class = 'col-sm-6'>
			<%= a_form.select :a_tema_id, Tema.find(Tema.all.ids - @objeto.temas.ids).collect { |p| [p.tema, p.id] }, include_blank: true %>
		</div>
		<div class = 'col-sm-6'>
			<%= a_form.submit 'Agregar al Tema'  %>
		</div>
	</div>
<% end  %>
</br>

