<% unless @coleccion['especificaciones'].empty? %>
	<table class="table table-striped table-sm  thead-dark">
		<tbody>
			<% @coleccion['especificaciones'].each do |esp| %>
				<tr><td><%= "| #{esp.orden} | #{esp.especificacion} |" %></td><td><%= render partial: '0p/tabla/btns', locals: {a: 'index', objeto: esp} %></td></tr>
				<tr><td><small><%= sanitize esp.d_detalle %></small></td></tr>
			<% end %>
		</tbody>
	</table>
<% end %>
<%= form_for :especificacion_base, url: "/especificaciones/nuevo?class_name=#{@objeto.class.name}&objeto_id=#{@objeto.id}" do |form| %>
	<small><%= form.label 'Orden | Especificación' %></small></br>
	<div class='form-inline'>
		<%= form.text_field(:orden, size: 5, class: 'form-control' ) %>
		<%= form.text_field(:especificacion, size: 57, class: 'form-control' ) %>
	</div>
	<small><%= form.label :detalle %></small></br>
  	<%= form.text_area :detalle, size: '68x3' %>
	<%= form.submit '+ Especificacion'  %>
<% end  %>
