<p id="notice"><%= notice %></p>

<p>
  <strong>Investigador:</strong>
  <%= @investigador.investigador %>
</p>

<p>
  <strong>Orcid:</strong>
  <%= @investigador.orcid %>
</p>

<p>
  <strong>Email:</strong>
  <%= @investigador.email %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @investigador.departamento_id %>
</p>

<%= link_to 'Edit', edit_investigador_path(@investigador) %> |
<%= link_to 'Back', investigadores_path %>
