<p id="notice"><%= notice %></p>

<p>
  <strong>Archivo:</strong>
  <%= @carga.archivo %>
</p>

<p>
  <strong>Nota:</strong>
  <%= @carga.nota %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @carga.estado %>
</p>

<%= link_to 'Edit', edit_carga_path(@carga) %> |
<%= link_to 'Back', cargas_path %>
