<%= form_with(model: agregacion, local: true) do |form| %>
  <% if agregacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(agregacion.errors.count, "error") %> prohibited this agregacion from being saved:</h2>

      <ul>
      <% agregacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :categoria_id %>
    <%= form.number_field :categoria_id %>
  </div>

  <div class="field">
    <%= form.label :concepto_id %>
    <%= form.number_field :concepto_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
