<p id="notice"><%= notice %></p>

<h1>Agregaciones</h1>

<table>
  <thead>
    <tr>
      <th>Categoria</th>
      <th>Concepto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agregaciones.each do |agregacioneses| %>
      <tr>
        <td><%= agregacioneses.categoria_id %></td>
        <td><%= agregacioneses.concepto_id %></td>
        <td><%= link_to 'Show', agregacioneses %></td>
        <td><%= link_to 'Edit', edit_agregacioneses_path(agregacioneses) %></td>
        <td><%= link_to 'Destroy', agregacioneses, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agregacioneses', new_agregacioneses_path %>
