<p id="notice"><%= notice %></p>

<p>
  <strong>Categoria:</strong>
  <%= @agregacion.categoria_id %>
</p>

<p>
  <strong>Concepto:</strong>
  <%= @agregacion.concepto_id %>
</p>

<%= link_to 'Edit', edit_agregacion_path(@agregacion) %> |
<%= link_to 'Back', agregaciones_path %>
