<%= render partial: '0p/general/titulo', locals: {c: 'etapas', a: nil, titulo: 'Etapas', size: '5'} %>
<% @etapas.each do |etapa| %>
	<table class="table table-striped table-sm  thead-dark">
		<tbody>
			<tr><td><%= etapa.orden %></td><td><%= etapa.etapa %></td><td><%= render partial: '0p/tabla/btns', locals: {a: 'index', objeto: etapa} %></td></tr>
		</tbody>
	</table>

	<div class='row'>
		<div class='col-md-6'>
			<%= render partial: '0p/general/titulo', locals: {c: 'especificaciones', a: nil, titulo: 'Especificaciones', size: '5'} %>
			<% unless etapa.especificaciones.empty? %>
				<table class="table table-striped table-sm  thead-dark">
					<tbody>
						<% etapa.especificaciones.order(:orden).each do |esp| %>
							<tr><td><%= "| #{esp.orden} | #{esp.especificacion} |" %></td><td><%= render partial: '0p/tabla/btns', locals: {a: 'index', objeto: esp} %></td></tr>
							<tr><td><small><%= sanitize esp.d_detalle %></small></td></tr>
						<% end %>
					</tbody>
				</table>
			<% end %>
			<%= render partial: '0p/tabla/inline_btn_nuevo', locals: {c: 'especificaciones', o: etapa} %>
		</div>
		<div class='col-md-6'>
			<%= render partial: '0p/general/titulo', locals: {c: 'tablas', a: nil, titulo: 'Tablas', size: '5'} %>
			<%= render partial: '0p/tabla/tabla_coleccion', locals: {c: 'tablas', a: 'index', coleccion: etapa.tablas} %>
			<%= render partial: '0p/tabla/inline_btn_nuevo', locals: {c: 'tablas', o: etapa} %>
		</div>
	</div>
	</br>
<% end %>
</br></br>
<%= render partial: '0p/tabla/btn_nuevo', locals: {c: 'etapas'} %>
