<p id="notice"><%= notice %></p>

<p>
  <strong>Orden:</strong>
  <%= @encabezado.orden %>
</p>

<p>
  <strong>Encabezado:</strong>
  <%= @encabezado.encabezado %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @encabezado.tipo %>
</p>

<%= link_to 'Edit', edit_encabezado_path(@encabezado) %> |
<%= link_to 'Back', encabezados_path %>
