<%= render partial: '0p/general/o_titulo', locals: {o: @objeto, a: action_name, size: '5'} %>

<%= render partial: '0p/tabs/tabs', locals: {tabs: ['Características', 'Tabla', 'Gráficos'], tag: 'tab', active: @tab} %>

<% if @tab == 'Características' %>
	<%#= render partial: '0p/general/titulo', locals: {c: 'caracteristicas', a: nil, titulo: 'Caracteristicas', size: '5'} %>
	<%= render partial: '0p/tabla/solo_tabla', locals: {c: 'caracteristicas', a: 'index'} if @coleccion['caracteristicas'].any? %>
	<%= render partial: '0p/tabla/btn_nuevo', locals: {c: 'caracteristicas', a: 'index'} %>
<% elsif @tab == 'Tabla' %>
	<%= render partial: 'data/tablas/show', locals: {objeto: @objeto.tabla} %>
<% elsif @tab == 'Gráficos' %>

	<% @objeto.tabla.encabezados.each do |encabezado| %>
		<% unless encabezado.sumarios.count == 1 %>
			<div class='row'>
				<div class='col-md-6'>
					<h5><%= encabezado.encabezado %></h5>
					<%= render partial: '0p/tabla/tabla_coleccion', locals: {c: 'sumarios', a: 'index', coleccion: encabezado.sumarios} if encabezado.sumarios.any? %>
				</div>
				<div class='col-md-6'>
					<%= pie_chart encabezado.sumarios.group(:clave).count %>
				</div>
			</div>
		<% end %>
	<% end %>

<% end %>

