<p id="notice"><%= notice %></p>

<h1>Tablas</h1>

<table>
  <thead>
    <tr>
      <th>Tabla</th>
      <th>Padre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tablas.each do |tabla| %>
      <tr>
        <td><%= tabla.tabla %></td>
        <td><%= tabla.padre_id %></td>
        <td><%= link_to 'Show', tabla %></td>
        <td><%= link_to 'Edit', edit_tabla_path(tabla) %></td>
        <td><%= link_to 'Destroy', tabla, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tabla', new_tabla_path %>
