<%= form_with(model: etq_contador, local: true) do |form| %>
  <% if etq_contador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(etq_contador.errors.count, "error") %> prohibited this etq_contador from being saved:</h2>

      <ul>
      <% etq_contador.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :etiqueta_id %>
    <%= form.number_field :etiqueta_id %>
  </div>

  <div class="field">
    <%= form.label :publicacion_id %>
    <%= form.number_field :publicacion_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
