<p id="notice"><%= notice %></p>

<h1>Etq Contadores</h1>

<table>
  <thead>
    <tr>
      <th>Etiqueta</th>
      <th>Publicacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @etq_contadores.each do |etq_contador| %>
      <tr>
        <td><%= etq_contador.etiqueta_id %></td>
        <td><%= etq_contador.publicacion_id %></td>
        <td><%= link_to 'Show', etq_contador %></td>
        <td><%= link_to 'Edit', edit_etq_contador_path(etq_contador) %></td>
        <td><%= link_to 'Destroy', etq_contador, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Etq Contador', new_etq_contador_path %>
