<p id="notice"><%= notice %></p>

<p>
  <strong>Publicacion:</strong>
  <%= @autor.publicacion_id %>
</p>

<p>
  <strong>Investigador:</strong>
  <%= @autor.investigador_id %>
</p>

<%= link_to 'Edit', edit_autor_path(@autor) %> |
<%= link_to 'Back', autores_path %>
