<%= form_with(model: coautor, local: true) do |form| %>
  <% if coautor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coautor.errors.count, "error") %> prohibited this coautor from being saved:</h2>

      <ul>
      <% coautor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :proyecto_id %>
    <%= form.number_field :proyecto_id %>
  </div>

  <div class="field">
    <%= form.label :perfil_id %>
    <%= form.text_field :perfil_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
