<% unless @coleccion['observaciones'].empty? %>
	<table class="table table-striped table-sm  thead-dark">
		<tbody>
			<% @coleccion['observaciones'].each do |obs| %>
				<tr><td><%= "| #{obs.observacion} |" %></td><td><%= render partial: '0p/tabla/btns', locals: {a: 'index', objeto: obs} %></td></tr>
				<tr><td><small><%= sanitize obs.d_detalle %></small></td></tr>
			<% end %>
		</tbody>
	</table>
<% end %>
<%= form_for :observacion_base, url: "/observaciones/nuevo?class_name=#{@objeto.class.name}&objeto_id=#{@objeto.id}" do |form| %>
	<small><%= form.label 'Observación' %></small></br>
	<div class='form-inline'>
		<%#= form.text_field(:orden, size: 5, placeholder: 'orden', class: 'form-control' ) %>
		<%= form.text_field(:observacion, size: 67, class: 'form-control' ) %>
	</div>
	<small><%= form.label :detalle %></small></br>
  	<%= form.text_area :detalle, size: '68x3' %>
	<%= form.submit '+ Observacion'  %>
<% end  %>
