<p id="notice"><%= notice %></p>

<p>
  <strong>Opcion:</strong>
  <%= @opcion.opcion %>
</p>

<p>
  <strong>Caracteristica:</strong>
  <%= @opcion.caracteristica_id %>
</p>

<%= link_to 'Edit', edit_opcion_path(@opcion) %> |
<%= link_to 'Back', opciones_path %>
