<p id="notice"><%= notice %></p>

<p>
  <strong>Concepto:</strong>
  <%= @referencia.concepto_id %>
</p>

<p>
  <strong>Publicacion:</strong>
  <%= @referencia.publicacion_id %>
</p>

<%= link_to 'Edit', edit_referencia_path(@referencia) %> |
<%= link_to 'Back', referencias_path %>
